@media (max-width: 768px) {
    #logoHeader {
        margin: 30px;
        width: 80%;
    }

    .header-title {
        font-size: 32px;
        padding: 0 20px;
    }

    .header-subtitle-1,
    .header-subtitle-2 {
        font-size: 18px;
        padding: 0 20px;
    }

    .headerButton {
        font-size: 20px;
        font-weight: bold;
        padding: 15px;
        margin: 30px 0;
        background-color: #c8f31d;
        border: none;
        border-radius: 10px;
    }

    .info-card {
        width: 90%;
        height: auto;
        padding: 20px;
        gap: 30px;
    }

    .trilha--section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px 10px;
    }

    .trilhaimg {
        width: 90%;
        padding: 0;
    }

    .trilhaText {
        font-size: 18px;
        width: auto;
        padding: 0;
    }

    .trilhaTitle {
        font-size: 36px;
    }

    .trilhaButton {
        font-size: 20px;
        font-weight: bold;
        padding: 15px;
        margin: 20px 0px 0px 0px;
        background-color: #c8f31d;
        border: none;
        border-radius: 10px;
    }

    .learn--section {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #c9f524;
        min-height: 70vh;
    }

    .learnTitle {
        background-color: black;
        color: white;
        border-radius: 10px;
        font-weight: bold;
        padding: 10px;
        margin: 20px 20px 0px 20px;
        font-size: 1.2rem;
    }

    .learnTech {
        background-color: black;
        color: white;
        border-radius: 10px;
        font-weight: bold;
        padding: 10px;
        margin: 0px 20px 20px 20px;
        font-size: 1.2rem;
    }

    .faq li {
        width: 100%;
        padding: 10px;
    }

    .faq li input[type="radio"] {
        display: none;
    }

    .faq input[type="radio"]:checked + label + .faq-answer {
        max-height: 400px;
        padding: 10px 10px 20px;
        filter: opacity(1);
    }

    .faq input[type="radio"]:checked + label {
        max-height: 400px;
        padding: 20px 10px 10px;
        filter: opacity(1);
        border-radius: 10px 10px 0px 0px;
        background-color: #303030;
        border: none;
        color: white;
    }

    .faq input[type="radio"]:checked + ::before {
        content: "-";
    }

    .faq input[type="radio"]:checked + label span {
        background-color: #c9f524;
        color: black;
    }

    .faq li label {
        padding: 15px 10px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        border: 1px solid;
        display: flex;
        align-items: center;
        border-radius: 10px;
    }

    .faq li label span {
        display: inline-block;
        padding: 10px;
        background-color: black;
        color: white;
        border-radius: 10px;
        margin-right: 10px;
        transition: background-color 0.3s;
    }

    .faq li label::before {
        content: "+";
        padding: 10px;
    }

    .faq-answer {
        color: #303030;
        padding: 0px 14px;
        max-height: 0px;
        filter: opacity(0);
        transition: max-height 0.3s, padding 0.3s;
        background-color: #303030;
        color: white;
        border-radius: 0px 0px 10px 10px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }
}
